// Esquema de colores
$white: #fff;
$platinum: #E6E7E7;
$clarogray:#D1D1D1;

$fuzzywuzzy: #E56353;
$ruddypink: #D76C69;
$spanishpink: #ECBCBA;

$erieblack: #121619;
$raisinblack: #222323;
$nickel: #6C6E70;
$grisclarito: #707070;

//Tipografias
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

//Peso de fuentes
$regular: 400;
$claro: 300;
$blackitalic: 900;

//Tamanos de fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
